*{
    margin:0;
    padding: 0;
}
#menu {
    background: rgb(0, 63, 58);
    display: table;
    width: 100%;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
}
#menu ul li a{
    font:13px verdana, arial, tahoma, sans-serif;
    color:rgb(255, 255, 255);
    background:  rgb(0, 63, 58);
    text-decoration: none;
    float: left;
    padding:15px 20px;
    margin-left: 1px;
}

#menu ul li a:hover{
    color: rgb(0, 63, 58);
    background:  rgb(255, 255, 255);
}

div h1{
    background-color: yellowgreen;
    color:rgb(255, 255, 255);
    border-radius: 5mm;
    text-decoration: none;
    font:23px verdana, arial, tahoma, sans-serif;
    width: 100%;
    padding:15px 0 ;
    text-align: center;
}

h2{
    text-decoration: none;
    font:18px verdana, arial, tahoma, sans-serif;
    width: 100%;
    padding:15px 0 ;
    margin-left: 5%;
    margin-top: 5%;
}

.tab1{
    width: 50%;
    background-color: rgb(0, 167, 36);
    position:absolute;
    left: 0px;
    margin-top: 2%;
    margin-left: 2%;
}

.p1 {
    background-color: lightseagreen;
    padding:15px 20px;
    width: 50%;
}

.p2{
    background-color: rgb(149, 225, 255);
    width: 80%;
    padding:15px 50px;
}
.divimg2{
    width: 40%;
    display: inline-block;
    position:absolute;
    right: 0px;
    margin-top: 2%;
    margin-right: 2%;
    background-color: midnightblue;
}
img{
    width: 360px;
    height: 360px;
}

footer{
    width: 100%;
    display: inline-block;
    position:absolute;
    bottom: 2px;
    text-align: center;
}