*{
    margin:0;
    padding: 0;
}
body {
     background-image: url("img1.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size:100% auto;
    }

#menu {
    background: rgb(0, 63, 58);
    display: table;
    width: 100%;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
}
#menu ul li a{
    font:13px verdana, arial, tahoma, sans-serif;
    color:rgb(255, 255, 255);
    background:  rgb(0, 63, 58);
    text-decoration: none;
    float: left;
    padding:15px 20px;
    margin-left: 1px;
}

#menu ul li a:hover{
    color: rgb(0, 63, 58);
    background:  rgb(255, 255, 255);
}

h1{
    background-color: yellowgreen;
    color:rgb(255, 255, 255);
    border-radius: 5mm;
    text-decoration: none;
    font:23px verdana, arial, tahoma, sans-serif;
    width: 100%;
    padding:15px 0 ;
    margin-top: 15px;
    text-align: center;
}

h2{
    color:rgb(255, 255, 255);
    border-radius: 5mm;
    text-decoration: none;
    font:23px verdana, arial, tahoma, sans-serif;
    width: 50%;
    padding:0px 0px ;
    margin-top: 15px;
    text-align: left;
    margin-left: 2%;
}

.c1{
    color: darkgray;
    padding-left: 10px 0;
    text-decoration: none;
    font:18px verdana, arial, tahoma, sans-serif;
    margin-left: 2%;
}

footer{
    color: chartreuse;
    width: 100%;
    display: inline-block;
    position:absolute;
    bottom: 5px;
    padding: 15px 0px;
    text-align: center;
}